In [21]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

In [22]:
taxi = pd.read_csv(r"D:\project\Analytical_Projects\Regression_taxi_fare_prediction\datasets\taxi.csv")
fares = pd.read_csv(r"D:\project\Analytical_Projects\Regression_taxi_fare_prediction\datasets\fares.csv")
trips = pd.read_csv(r"D:\project\Analytical_Projects\Regression_taxi_fare_prediction\datasets\trips.csv")

In [23]:
df1 = taxi.merge(fares,on="medallion",how="left")

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250553 entries, 0 to 250552
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   medallion          250553 non-null  object
 1   pickup_datetime_x  250553 non-null  object
 2   pickup_longitude   250553 non-null  float64
 3   pickup_latitude    250553 non-null  float64
 4   trip_time_in_secs  250553 non-null  int64
 5   fare_amount_x      250553 non-null  float64
 6   tip_amount_x       250553 non-null  float64
 7   hack_license       250553 non-null  object
 8   vendor_id          250553 non-null  object
 9   pickup_datetime_y  250553 non-null  object
 10  payment_type       250553 non-null  object
 11  fare_amount_y      250553 non-null  float64
 12  surcharge          250553 non-null  float64
 13  mta_tax            250553 non-null  float64
 14  tip_amount_y       250553 non-null  float64
 15  tolls_amount       250553 non-null  float64
 16  total_amount       250553 non-null  float64
dtypes: float64(10), int64(1), object(6)
memory usage: 32.5+ MB

In [25]:
data = df1.merge(trips,on="medallion",how="left")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1489603 entries, 0 to 1489602
Data columns (total 30 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   medallion            1489603 non-null  object
 1   pickup_datetime_x    1489603 non-null  object
 2   pickup_longitude_x   1489603 non-null  float64
 3   pickup_latitude_x    1489603 non-null  float64
 4   trip_time_in_secs_x  1489603 non-null  int64
 5   fare_amount_x        1489603 non-null  float64
 6   tip_amount_x         1489603 non-null  float64
 7   hack_license_x       1489603 non-null  object
 8   vendor_id_x          1489603 non-null  object
 9   pickup_datetime_y    1489603 non-null  object
 10  payment_type         1489603 non-null  object
 11  fare_amount_y        1489603 non-null  float64
 12  surcharge            1489603 non-null  float64
 13  mta_tax              1489603 non-null  float64
 14  tip_amount_y         1489603 non-null  float64
 15  tolls_amount         1489603 non-null  float64
 16  total_amount         1489603 non-null  float64
 17  hack_license_y       1489603 non-null  object
 18  vendor_id_y          1489603 non-null  object
 19  rate_code            1489603 non-null  int64
 20  store_and_fwd_flag   796602 non-null   object
 21  pickup_datetime      1489603 non-null  object
 22  dropoff_datetime     1489603 non-null  object
 23  passenger_count      1489603 non-null  int64
 24  trip_time_in_secs_y  1489603 non-null  int64
 25  trip_distance        1489603 non-null  float64
 26  pickup_longitude_y   1489603 non-null  float64
 27  pickup_latitude_y    1489603 non-null  float64
 28  dropoff_longitude    1489603 non-null  float64
 29  dropoff_latitude     1489603 non-null  float64
dtypes: float64(15), int64(4), object(11)
memory usage: 340.9+ MB

In [26]:
data = data.drop_duplicates()
data = data.dropna(subset="medallion")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1489603 entries, 0 to 1489602
Data columns (total 30 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   medallion            1489603 non-null  object
 1   pickup_datetime_x    1489603 non-null  object
 2   pickup_longitude_x   1489603 non-null  float64
 3   pickup_latitude_x    1489603 non-null  float64
 4   trip_time_in_secs_x  1489603 non-null  int64
 5   fare_amount_x        1489603 non-null  float64
 6   tip_amount_x         1489603 non-null  float64
 7   hack_license_x       1489603 non-null  object
 8   vendor_id_x          1489603 non-null  object
 9   pickup_datetime_y    1489603 non-null  object
 10  payment_type         1489603 non-null  object
 11  fare_amount_y        1489603 non-null  float64
 12  surcharge            1489603 non-null  float64
 13  mta_tax              1489603 non-null  float64
 14  tip_amount_y         1489603 non-null  float64
 15  tolls_amount         1489603 non-null  float64
 16  total_amount         1489603 non-null  float64
 17  hack_license_y       1489603 non-null  object
 18  vendor_id_y          1489603 non-null  object
 19  rate_code            1489603 non-null  int64
 20  store_and_fwd_flag   796602 non-null   object
 21  pickup_datetime      1489603 non-null  object
 22  dropoff_datetime     1489603 non-null  object
 23  passenger_count      1489603 non-null  int64
 24  trip_time_in_secs_y  1489603 non-null  int64
 25  trip_distance        1489603 non-null  float64
 26  pickup_longitude_y   1489603 non-null  float64
 27  pickup_latitude_y    1489603 non-null  float64
 28  dropoff_longitude    1489603 non-null  float64
 29  dropoff_latitude     1489603 non-null  float64
dtypes: float64(15), int64(4), object(11)
memory usage: 340.9+ MB

In [27]:
data.columns

Index(['medallion', 'pickup_datetime_x', 'pickup_longitude_x',
       'pickup_latitude_x', 'trip_time_in_secs_x', 'fare_amount_x',
       'tip_amount_x', 'hack_license_x', 'vendor_id_x', 'pickup_datetime_y',
       'payment_type', 'fare_amount_y', 'surcharge', 'mta_tax', 'tip_amount_y',
       'tolls_amount', 'total_amount', 'hack_license_y', 'vendor_id_y',
       'rate_code', 'store_and_fwd_flag', 'pickup_datetime',
       'dropoff_datetime', 'passenger_count', 'trip_time_in_secs_y',
       'trip_distance', 'pickup_longitude_y', 'pickup_latitude_y',
       'dropoff_longitude', 'dropoff_latitude'],
      dtype='object')

In [28]:
# remove unwanted columns.

df_cols = ["pickup_datetime_y","tip_amount_y","fare_amount_y","hack_license_y","vendor_id_y","trip_time_in_secs_y","pickup_longitude_y","pickup_latitude_y"]
data = data.drop(columns=df_cols)
data.columns

Index(['medallion', 'pickup_datetime_x', 'pickup_longitude_x',
       'pickup_latitude_x', 'trip_time_in_secs_x', 'fare_amount_x',
       'tip_amount_x', 'hack_license_x', 'vendor_id_x', 'payment_type',
       'surcharge', 'mta_tax', 'tolls_amount', 'total_amount', 'rate_code',
       'store_and_fwd_flag', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'trip_distance', 'dropoff_longitude',
       'dropoff_latitude'],
      dtype='object')

In [29]:
# cloumn renameing to make the data_clean

data = data.rename(columns={'pickup_latitude_x' : 'pickup_latitude'})

data.columns

Index(['medallion', 'pickup_datetime_x', 'pickup_longitude_x',
       'pickup_latitude', 'trip_time_in_secs_x', 'fare_amount_x',
       'tip_amount_x', 'hack_license_x', 'vendor_id_x', 'payment_type',
       'surcharge', 'mta_tax', 'tolls_amount', 'total_amount', 'rate_code',
       'store_and_fwd_flag', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'trip_distance', 'dropoff_longitude',
       'dropoff_latitude'],
      dtype='object')

In [30]:
# cloumn renaming 

data = data.rename(columns={'pickup_datetime_x' : 'pickup_datetime', 'pickup_longitude_x' : 'pickup_longitude', 'trip_time_in_secs_x' : 'trip_time_in_secs', 'fare_amount_x': 'fare_amount', 'tip_amount_x' : 'tip_amount', 'hack_license_x': 'hack_license', 'vendor_id_x': 'vendor_id'})

data.columns

Index(['medallion', 'pickup_datetime', 'pickup_longitude', 'pickup_latitude',
       'trip_time_in_secs', 'fare_amount', 'tip_amount', 'hack_license',
       'vendor_id', 'payment_type', 'surcharge', 'mta_tax', 'tolls_amount',
       'total_amount', 'rate_code', 'store_and_fwd_flag', 'pickup_datetime',
       'dropoff_datetime', 'passenger_count', 'trip_distance',
       'dropoff_longitude', 'dropoff_latitude'],
      dtype='object')

In [31]:
data = data.drop_duplicates()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1482710 entries, 0 to 1489602
Data columns (total 22 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   medallion           1482710 non-null  object
 1   pickup_datetime     1482710 non-null  object
 2   pickup_longitude    1482710 non-null  float64
 3   pickup_latitude     1482710 non-null  float64
 4   trip_time_in_secs   1482710 non-null  int64
 5   fare_amount         1482710 non-null  float64
 6   tip_amount          1482710 non-null  float64
 7   hack_license        1482710 non-null  object
 8   vendor_id           1482710 non-null  object
 9   payment_type        1482710 non-null  object
 10  surcharge           1482710 non-null  float64
 11  mta_tax             1482710 non-null  float64
 12  tolls_amount        1482710 non-null  float64
 13  total_amount        1482710 non-null  float64
 14  rate_code           1482710 non-null  int64
 15  store_and_fwd_flag  793525 non-null   object
 16  pickup_datetime     1482710 non-null  object
 17  dropoff_datetime    1482710 non-null  object
 18  passenger_count     1482710 non-null  int64
 19  trip_distance       1482710 non-null  float64
 20  dropoff_longitude   1482710 non-null  float64
 21  dropoff_latitude    1482710 non-null  float64
dtypes: float64(11), int64(3), object(8)
memory usage: 260.2+ MB

In [32]:
data.describe()

,pickup_longitude,pickup_latitude,trip_time_in_secs,fare_amount,tip_amount,surcharge,mta_tax,tolls_amount,total_amount,rate_code,passenger_count,trip_distance,dropoff_longitude,dropoff_latitude
count,1.482710e+06,1.482710e+06,1.482710e+06,1.482710e+06,1.482710e+06,1.482710e+06,1.482710e+06,1.482710e+06,1.482710e+06,1.482710e+06,1.482710e+06,1.482710e+06,1.482710e+06,1.482710e+06
mean,-7.275811e+01,3.995153e+01,7.434793e+02,1.217235e+01,1.343143e+00,3.163012e-01,4.980691e-01,2.365902e-01,1.458365e+01,1.030255e+00,1.684607e+00,2.841625e+00,-7.273726e+01,3.993941e+01
std,1.002472e+01,7.307807e+00,5.483398e+02,9.898942e+00,2.054398e+00,3.583838e-01,3.101184e-02,1.158992e+00,1.182345e+01,2.650401e-01,1.354388e+00,3.243803e+00,1.009184e+01,7.341702e+00
min,-8.263442e+01,-7.401497e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-7.711544e+01,-7.417715e+01
25%,-7.399264e+01,4.073448e+01,3.600000e+02,6.500000e+00,0.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,8.000000e+00,1.000000e+00,1.000000e+00,1.060000e+00,-7.399155e+01,4.073389e+01
50%,-7.398221e+01,4.075208e+01,6.000000e+02,9.500000e+00,1.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,1.100000e+01,1.000000e+00,1.000000e+00,1.800000e+00,-7.398032e+01,4.075299e+01
75%,-7.396762e+01,4.076717e+01,9.600000e+02,1.400000e+01,2.000000e+00,5.000000e-01,5.000000e-01,0.000000e+00,1.650000e+01,1.000000e+00,2.000000e+00,3.180000e+00,-7.396373e+01,4.076815e+01
max,4.081134e+01,4.158978e+01,7.524000e+04,2.069500e+03,6.200000e+01,1.500000e+00,5.000000e-01,1.733000e+01,2.070000e+03,5.000000e+00,6.000000e+00,5.300000e+01,4.085908e+01,4.110719e+01

In [33]:
# check core relation.

data.corr(numeric_only=True)

,pickup_longitude,pickup_latitude,trip_time_in_secs,fare_amount,tip_amount,surcharge,mta_tax,tolls_amount,total_amount,rate_code,passenger_count,trip_distance,dropoff_longitude,dropoff_latitude
pickup_longitude,1.000000,-0.955152,-0.002680,0.033296,0.015685,0.003264,-0.009353,0.002467,0.007404,0.015834,0.003563,-0.000174,0.276988,-0.246108
pickup_latitude,-0.955152,1.000000,-0.000810,-0.026730,-0.009970,-0.003172,0.007197,-0.001938,-0.005305,-0.011808,-0.009892,0.000556,-0.245502,0.236170
trip_time_in_secs,-0.002680,-0.000810,1.000000,0.807444,0.435178,-0.009146,-0.009935,0.076106,0.157136,0.038078,0.011599,0.139854,0.000127,-0.000125
fare_amount,0.033296,-0.026730,0.807444,1.000000,0.535479,-0.012038,-0.058071,0.109660,0.200999,0.095271,0.006273,0.163796,0.009024,-0.006370
tip_amount,0.015685,-0.009970,0.435178,0.535479,1.000000,0.000474,-0.029799,0.075195,0.120976,0.049311,0.000979,0.093742,0.006203,-0.004747
surcharge,0.003264,-0.003172,-0.009146,-0.012038,0.000474,1.000000,0.038857,-0.064436,-0.027002,-0.019514,0.002308,-0.008215,0.003007,-0.002729
mta_tax,-0.009353,0.007197,-0.009935,-0.058071,-0.029799,0.038857,1.000000,-0.259878,-0.317178,-0.133699,0.000354,-0.021141,-0.011559,0.008950
tolls_amount,0.002467,-0.001938,0.076106,0.109660,0.075195,-0.064436,-0.259878,1.000000,0.626333,0.065388,0.003909,0.113461,0.002336,-0.002057
total_amount,0.007404,-0.005305,0.157136,0.200999,0.120976,-0.027002,-0.317178,0.626333,1.000000,0.094280,0.005751,0.164311,0.009117,-0.006551
rate_code,0.015834,-0.011808,0.038078,0.095271,0.049311,-0.019514,-0.133699,0.065388,0.094280,1.000000,-0.009288,0.308183,0.082620,-0.062383
passenger_count,0.003563,-0.009892,0.011599,0.006273,0.000979,0.002308,0.000354,0.003909,0.005751,-0.009288,1.000000,0.020500,-0.000876,-0.007567
trip_distance,-0.000174,0.000556,0.139854,0.163796,0.093742,-0.008215,-0.021141,0.113461,0.164311,0.308183,0.020500,1.000000,-0.005819,0.003449
dropoff_longitude,0.276988,-0.245502,0.000127,0.009024,0.006203,0.003007,-0.011559,0.002336,0.009117,0.082620,-0.000876,-0.005819,1.000000,-0.956600
dropoff_latitude,-0.246108,0.236170,-0.000125,-0.006370,-0.004747,-0.002729,0.008950,-0.002057,-0.006551,-0.062383,-0.007567,0.003449,-0.956600,1.000000

In [34]:
data = data.head(20000)

y = data[['fare_amount']]
y.head()

   fare_amount
0          8.0
1          8.0
2          8.0
3          8.0
4          8.0

In [35]:
X = data[['pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude','trip_time_in_secs','trip_distance','passenger_count']]
X.head()

,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,trip_time_in_secs,trip_distance,passenger_count
0,40.772728,-73.946457,40.777840,-73.954819,600,1.11,1
1,40.772728,-73.946457,40.755241,-73.973259,600,2.78,1
2,40.772728,-73.946457,40.760773,-73.973885,600,1.19,5
3,40.772728,-73.946457,40.777840,-73.954819,600,1.11,1
4,40.772728,-73.946457,40.755241,-73.973259,600,2.78,1

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [37]:
# Linear Regression 

model_1 = LinearRegression() # Linear regression model
model_2 = Lasso() #Lasso
model_3 = DecisionTreeRegressor() #Decision Tree
model_4 = RandomForestRegressor() #Random Forst
model_5 = SVR() # SVM Regressor

In [38]:
model_1.fit(X_train, y_train)
model_2.fit(X_train, y_train)
model_3.fit(X_train, y_train)
model_4.fit(X_train, y_train)
model_5.fit(X_train, y_train)

C:\Users\DELL\AppData\Local\Temp\ipykernel_25824\632489811.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_4.fit(X_train, y_train)
c:\Users\DELL\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

In [39]:
y_pred_1 = model_1.predict(X_test) # Linear regression
y_pred_2 = model_2.predict(X_test) # Lasso regression
y_pred_3 = model_3.predict(X_test) # Descission Regression
y_pred_4 = model_4.predict(X_test) # Random froest
y_pred_5 = model_5.predict(X_test) # SVM

In [40]:
# Accuracy for model_1 : Linear Regression

MAE= metrics.mean_absolute_error(y_test, y_pred_1)
MSE= metrics.mean_squared_error(y_test, y_pred_1)
RMSE= np.sqrt(MSE)
R_Squared = metrics.r2_score(y_test,y_pred_1)

print(MAE) # Mean difference error
print(MSE) # Mean Difference Square
print(RMSE) # Mean Square root error
print(R_Squared) # Model accuracy

3.1254249540276358
48.83854450441288
6.9884579489621945
0.6000437965461269

In [41]:
#Lasso
MAE= metrics.mean_absolute_error(y_test, y_pred_2)
MSE= metrics.mean_squared_error(y_test, y_pred_2)
RMSE= np.sqrt(MSE)
R_Squared = metrics.r2_score(y_test,y_pred_2)

print(MAE) # Mean difference error
print(MSE) # Mean Difference Square
print(RMSE) # Mean Square root error
print(R_Squared) # Model accuracy

3.1059577047416442
48.9285451569021
6.994894220565605
0.599306749206915

In [42]:
#Descission Tree

MAE= metrics.mean_absolute_error(y_test, y_pred_3)
MSE= metrics.mean_squared_error(y_test, y_pred_3)
RMSE= np.sqrt(MSE)
R_Squared = metrics.r2_score(y_test,y_pred_3)

print(MAE) # Mean difference error
print(MSE) # Mean Difference Square
print(RMSE) # Mean Square root error
print(R_Squared) # Model accuracy

0.013515151515151515
0.08443870523415978
0.29058338774637443
0.9993085014241782

In [43]:
#Random Forest:

MAE= metrics.mean_absolute_error(y_test, y_pred_4)
MSE= metrics.mean_squared_error(y_test, y_pred_4)
RMSE= np.sqrt(MSE)
R_Squared = metrics.r2_score(y_test,y_pred_4)

print(MAE) # Mean difference error
print(MSE) # Mean Difference Square
print(RMSE) # Mean Square root error
print(R_Squared) # Model accuracy

0.02516460569799066
0.02967882609366847
0.17227543671013715
0.9997569495420504

In [44]:
#SVM
MAE= metrics.mean_absolute_error(y_test, y_pred_5)
MSE= metrics.mean_squared_error(y_test, y_pred_5)
RMSE= np.sqrt(MSE)
R_Squared = metrics.r2_score(y_test,y_pred_5)

print(MAE) # Mean difference error
print(MSE) # Mean Difference Square
print(RMSE) # Mean Square root error
print(R_Squared) # Model accuracy

2.6027442866167316
49.979836024696276
7.069641859719365
0.5906973545479342